*{
	padding: 0;
	margin: 0;
}
header{
	width:1140px;
	height: auto;
	margin: 0 auto;
}
.nav{
	width: 1140px;
	height: auto;
	background: #000;

}
.nav ul li{
	list-style: none;
	display: inline-block;
	position: relative; 
	
}
.nav ul li a{
	display: block;
	padding: 20px 35px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.nav ul li a:hover{
	color: yellow;
	background: red;

}
.nav ul li ul{
	position: absolute;
	background: #000;
	left: -9999px;
}
.nav ul li:hover ul{
	left: 0px;
} 
.nav ul li ul li{
	width:200px;
	border-bottom: 1px solid #fff;
}
.banner-cover{
	height: 50vh;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat; 
}

.banner-text{
	padding: 100px;
	text-align: center;
}


.banner-text button{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}